/*
 * SPDX-FileCopyrightText: 2021 John Irle
 *
 * SPDX-License-Identifier: MIT
 */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: url("./leaves.png");
  background-repeat: repeat;
  padding-top: 5rem;
}
